body {
    margin: 0 auto;
    padding: 0;
    width: 800px;
    height: 580px;
    /*border: 1px solid red;*/
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

h1 {
    padding: 0;
    margin: 0;
    color: darkorchid;
    /*border: 1px solid red;*/
}

.reg {
    display: flex;
}

.weather,
.dates {
    display: flex;
    justify-content: left;
}

.cities {
    font-size: 12px;
    border: 1px solid red;
    margin-right: 20px;

}

.button-header {
    background-color: lightblue;
    border: none;
    padding: 10px;
    margin: 5px;
    /*border: 1px solid red;*/
}

.footer {
    /*display: float;*/
    position: absolute;

    width: 800px;
    height: 100px;
    border: 1px solid red;
}

a {
    text-decoration: none;
}

.btn-1 {
    width: 100%;
    color: red;
    font-size: 150px;
    padding-top: 450px;
    padding-bottom: 450px;
}